
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bike Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </div>
      </div>
    </div>
  </nav>
  <div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#addCategory" data-bs-whatever="@mdo" class="btn btn-primary float-end mt-2 mb-2"><i class="bi bi-plus"></i> Add</button>
    <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="frm">
              <div class="mb-3">
                <label class="col-form-label">Name:</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="onSubmit()" data-bs-dismiss="modal" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th width="200px">Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of lists">
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>
            <i class="bi bi-pencil-square text-primary" style="padding-right: 5px;"></i>
            <i class="bi bi-trash text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
